html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #15a751;
    position: absolute;
    image-rendering: pixelated;
    overflow: hidden;
    scale: 1
}