
html, body, #root, .App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(108, 214, 156);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.char {
  image-rendering: pixelated;
  /* border: 0.5px solid white; */
  scale: 10;
  width: 16px;
  height: 32px;
  position: absolute;
  background: url(./assets/spritesheets/human/walk/IsoHumanWalk-Sheet.png);
  animation-duration: 1s;
  animation-timing-function: steps(8);
  animation-iteration-count: infinite;
}

@keyframes walk-spin {
  to { background-position: -1024px}
}

@keyframes walk-ne {
  from { background-position: 0px}
  to { background-position: calc(-128px * 1)}
}
@keyframes walk-e {
  from { background-position: calc(-128px * 1)}
  to { background-position: calc(-128px * 2)}
}
@keyframes walk-se {
  from { background-position: calc(-128px * 2)}
  to { background-position: calc(-128px * 3)}
}
@keyframes walk-s {
  from { background-position: calc(-128px * 3)}
  to { background-position: calc(-128px * 4)}
}
@keyframes walk-sw {
  from { background-position: calc(-128px * 4)}
  to { background-position: calc(-128px * 5)}
}
@keyframes walk-w {
  from { background-position: calc(-128px * 5)}
  to { background-position: calc(-128px * 6)}
}
@keyframes walk-nw {
  from { background-position: calc(-128px * 6)}
  to { background-position: calc(-128px * 7)}
}
@keyframes walk-n {
  from { background-position: calc(-128px * 7)}
  to { background-position: calc(-128px * 8)}
}


