
html, body, #root, .App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(108, 214, 156);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.char {
  image-rendering: pixelated;
  border: 0.5px solid white;
  scale: 50;
  width: 16px;
  height: 32px;
  position: absolute;
  background: url(./assets/spritesheets/human/walk/IsoHumanWalk-Sheet.png);
  animation: walk-spin 6s steps(64) infinite;
  /* animation-iteration-count: 8; */
}

@keyframes walk-spin {
  to { background-position: -1024px}
}
@keyframes walk {
  to { background-position: -1024px}
}


